---
title: GitLab CI/CD Training
suppress_header: true
description: "Learn how to set up continuous Integration/Continuous Deployment (CI/CD) for your software production projects to improve product delivery times and quality"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_cicd" }
    .row
      .col-md-12
        %h2 Course Syllabus
        %h3 Part 1
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00a - 9:30a
                  %td GitLab Overview & Flow
                  %td
                    %ul
                      %li What is GitLab
                      %li Today's Software Delivery Landscape
                      %li GitLab Workflow & Example
                      %li What is CI/CD
                      %li GitLab's CI/CD Workflow
                      %li Why Use CI/CD
                      %li Dogfooding: Building GitLab with GitLab
                      %li <strong>Demo/Lab</strong>: Review a Sample CI/CD Section
                %tr
                  %td 9:30a - 10:30a
                  %td CI/CD Pipeline Architecture and Runners
                  %td
                    %ul
                      %li Configuration File & GitLab Runners
                      %li Runner Architecture
                      %li Runner Characteristics & Types
                      %li Runner Options
                      %li Runner Executors
                      %li <strong>Demo/Lab</strong>: Register a GitLab Runner for a simple pipeline
                %tr
                  %td 10:45a - 11:15a
                  %td Anatomy of a Pipeline
                  %td
                    %ul
                      %li Anatomy of a CI/CD Pipeline
                      %li Basic Pipeline Builds
                      %li Directed Acyclic Graph Pipelines
                      %li Child and Parent Pipelines
                      %li GitLab Pipeline Graph
                      %li Basic Keywords: Definitions & Examples
                      %li <strong>.gitlab-ci.yml</strong> Example
                      %li <strong>Demo/Lab</strong>: Create a Basic CI/CD Configuration
                      %li <strong>Demo/Lab</strong>: Display Environment Variables in a Pipeline
                %tr
                  %td 11:15a - 12:00p
                  %td Advanced Keywords & DRY
                  %td
                    %ul
                      %li Advanced Keywords
                      %li Writing Maintainable CI/CD Configuration Files
                %tr
                  %td 12:00 - 1:00p
                  %td Lunch
                  %td
      .col-md-12
        %h3 Part 2
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Schedule
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 9:00a - 10:00a
                  %td Variable Precedence & Scoping
                  %td
                    %ul
                      %li <strong>Microlearning Game</strong>: Reviewing Day 1
                      %li Variable Scope & Priority
                      %li <strong>Lab</strong>: Variable Hierarchy
                %tr
                  %td 10:00a - 10:30a
                  %td Job Policy Patterns
                  %td
                    %ul
                      %li <strong>Lab</strong>: Job Policy Pattern
                      %li <strong>Microlearning Game</strong>: Pipeline Review
                %tr
                  %td 10:45a - 11:15a
                  %td Artifacts and Dependencies
                  %td
                    %ul
                      %li <strong>Lab</strong>: Using Artifacts
                %tr
                  %td 11:15a - 12:00p
                  %td Registry & Deployments
                  %td
                    %ul
                      %li What are Package & Container Registries?
                      %li <strong>Lab</strong>: GitLab Docker Registry
                %tr
                  %td 12:00 - 1:00p
                  %td Security Scanning OR Code Quality Scanning (student choice)
                  %td
                    %ul
                      %li <strong>Lab</strong>: Enabling Security Scanning OR Code Quality Scanning (student choice)
        <a href='https://drive.google.com/file/d/1VM7m3TlkiCEF4Ptunc2X22mcKfZ-Ss0e/view?usp=sharing'> Download the syllabus</a>
        = partial "includes/services/requirements", locals: { id: "training_sessions_cicd" }
