.row
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/ci/ci-cd-integrated_2x.png", class: "hidden-xs", alt: "Integrated GitLab CI"
  .col-xs-12.col-md-6
    %h2 Fully integrated with GitLab
    %ul
      %li
        %b Quick project setup:
        Add projects with a single click, all hooks are set up automatically via the GitLab API.
      %li
        %b Merge request integration:
        See the status of each build within the Merge Request in GitLab.
%hr.divider/
